/* Основные стили */
:root {
    --primary-color: #FF9E00; /* Ярко-оранжевый */
    --secondary-color: #FF5A00; /* Оранжево-красный */
    --background-color: #101820; /* Темный серо-синий */
    --text-color: #F0F0F0; /* Светлый серый */
    --accent-color: #ff0000; /* Красный */
    --font-family-main: 'Arial', sans-serif;
    --font-family-heading: 'Old English Text MT', serif;
    --font-family-alt: 'Comic Sans MS', cursive;
}
@font-face {
    font-family: 'Old English Text MT';
    src: url('fonts/OldEnglishTextMT.woff2') format('woff2'),
         url('fonts/OldEnglishTextMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: var(--font-family-main);
    color: var(--text-color);
    overflow-x: hidden;
    background: var(--background-color);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #202A35; /* Средний серо-синий */
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid #202A35;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

/* Меню */
header nav ul {
    display: flex;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    justify-content: center;
    font-family: var(--font-family-heading);
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: var(--text-color);
}

/* Основное содержимое */
main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Футер */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(16, 24, 32, 0.9);
    color: var(--primary-color);
    font-family: var(--font-family-heading);
    border-top: 2px solid var(--primary-color);
    margin-top: 20px;
}

/* Пример использования классов */
.intro {
    text-align: center;
    padding: 20px;
    background-color: rgba(240, 240, 240, 0.1); /* Светлый серый */
    border-radius: 10px;
    margin: 20px 0;
}

.intro h1 {
    font-family: var(--font-family-heading);
    color: var(--primary-color);
}

.intro p {
    font-family: var(--font-family-alt);
    color: var(--text-color);
}

.intro img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.task-manager {
    text-align: center;
    padding: 20px;
    background-color: rgb(8 12 16);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    color: var(--text-color);
}

.task-manager h1 {
    font-size: 2.5em;
    font-family: var(--font-family-heading);
    color: var(--primary-color);
    margin-bottom: 20px;
}

.task-input {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.task-input input {
    font-family: 'Comic Sans MS', cursive;
    padding: 10px;
    width: 70%;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.task-input button {
    font-family: 'Comic Sans MS', cursive;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-input button:hover {
    background-color: var(--secondary-color);
}

#taskList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#taskList li {
    font-family: 'Comic Sans MS', cursive;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#taskList li:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}
